
   body {
    font-family: helvetica, arial, sans-serif;

  }

  
  h1 {
    color: #37b415;
    text-align: center;
  }
  #contenedor-izquierdo {
	background-color: rgb(161, 207, 33);
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;


}

#contenedor-derecho {
	background-color: rgb(195, 148, 20);
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
    
}
.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
   
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}
.cielo {
	height: 80%;
	width: 60%;
	background: #69cde9;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.7;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #3bcb24;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.8;
	z-index: -1;
}